@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a href="/Page0">Page 0 - no Authorize attribute</a>
</div>

<div>
    <a href="/Page1">Page 1 - [Authorize]</a>
</div>

<div>
    <a href="/Page2">Page 2 - [Authorize(AuthenticationSchemes = "cookie2")]</a>
</div>

<div>
    <a href="/Page3">Page 3 - [Authorize(AuthenticationSchemes = "cookie1, cookie2")]</a>
</div>

<div>
    <a href="/loginc1">Login cookie1</a>
</div>

<div>
    <a href="/loginc2">Login cookie2</a>
</div>

<div>
    <a href="/logoutc1">Logout cookie1</a>
</div>

<div>
    <a href="/logoutc2">Logout cookie2</a>
</div>

<div>
    <a href="/AuthDump">AuthDump</a>
</div>